.bg-dark {
   background-color: #020202;
   color: white;
}
.bg-dark-detail {
   background-color: #020202;
}

.input-edr {
   width: 100%;
   background-color: #171717;
   border-color: #404040;
   border-width: 1px;
   border-style: solid;
   border-radius: 0.25rem;
   padding: 0.5rem;
   font-size: 0.875rem;
   line-height: 1.25rem;
}

.nav {
   display: flex;
   align-items: center;
   height: 80px;
}

.bg-card{
   background: #141414;
}

Link:hover{
   color: #141414;
}